body{
  margin: 0;
  text-align: center;
 background-color:#EFFFFD;


}
hr{
  color: #fff;
  margin: 15px 30px 30px;
}


table{
    padding: 10px;
    border: 2px solid rgb(200, 200, 200);
    font-weight: bold;
    font-family: "sans-serif";
    border-radius: 5px;
    border-collapse: collapse;

      }
 .table-container tbody tr{
   border-bottom: 1px solid #fff;
 }

.table-container tbody tr:nth-of-type(even){
  background-color: #B8FFF9;

}

.table-container {
  width: 85vw;
  height: 20vw;
  margin-left: 9.5vw;
}

.heading{
background-color: #A63EC5;
color: #fff;
font-size: .8rem;
padding:12px 15px;

}
.data{
  font-size: 1rem;
  padding:12px 15px;

}
h1{
  color: #A63EC5;
  text-align: center;
  margin: 15px
}

a {
  color:black ;
  text-decoration: none;

}

a:hover {
  color:#F10086 ;
}
